<div class="widget-container">
    <div class="widget green">
        <div class="icon">
            <fa-icon [icon]="faMarkets"></fa-icon>
        </div>
        <div class="vlaue">
            <div class="top">128</div>
            <div class="bottom">Open Markets</div>
        </div>
    </div>
    <div class="widget yellow">
        <div class="icon">
            <fa-icon [icon]="faPortofolio"></fa-icon>
        </div>
        <div class="vlaue">
            <div class="top">295.325 $</div>
            <div class="bottom">My Investments</div>
        </div>
    </div>
    <div class="widget red">
        <div class="icon">
            <fa-icon [icon]="faTransactions"></fa-icon>
        </div>
        <div class="vlaue">
            <div class="top">2,784</div>
            <div class="bottom">Transaction History</div>
        </div>
    </div>
    <div class="widget blue">
        <div class="icon">
            <fa-icon [icon]="faStatistics"></fa-icon>
        </div>
        <div class="vlaue">
            <div class="top">+ 98.243 $</div>
            <div class="bottom">Financial Performance</div>
        </div>
    </div>
</div>